        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
        
        body{
            background-color: #fdfd96;
            font-family: "Orbitron", Arial, Helvetica, sans-serif;
        }
        .cabecalho{
            background-color: aqua;
            font-size: 100px;
            box-sizing: border-box;
            color: black;
                }
